<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://tp1.sinaimg.cn/1626944740/180/5726269857/1" id="logo" alt="RockRollFree"/>
    <!-- img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/-->
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>&hearts; Good Good Study, &hearts; </p><p>&hearts; Day Day Up. &hearts; </p>
    <p>^_^ No Zuo, No Die. ^_^</p>
<!--
Edit me in "_includes/sidebar.html"
-->
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
